@body{
	font-family:Helvetica,Arial,Sans-serif;
	font-size:14px;
}
@font-face{
	font-family:'Tahoma'
	src:url('Fonts/tahoma.ttf')format('truetype');
}
h1,h2,h3,h4,h5,h6{
	font-family:'tahoma',Rockwell,Serif;
	color:#333333;
}
a{
	color:#fb2f3a;
}
a:hover,a:focus{
	color:#eb2f39;
	text-decoration:none;
	border-bottom: 1px solid #ddd;
}
.btn{
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#9a9c9f;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	text-shadow:none;
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);
	border:1px solid rgba(0,0,0,0.2);
}
.hero-unit{
	padding:0;
	background:#222 url(img/logo.png) no-repeat 50% top;

}
.navbar-inner{
	
	background:transparent;
	border:none;
	box-shadow:none;
}
.navbar{
	margin-top:30px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.navbar .brand{
	text-indent:-9999px;
	height:57px;
	width:127px;
	background:url(img/..) no-repeat;
	line-height:100px;	
}
.navbar .nav{
	padding:0;
	margin:0;
}
.navbar .nav> li>a{
	font-weight :bold;
	font-size:14px;
	text-shadow:0;
	color:#fff;
	padding :3px 20px;
}
.navbar .nav>li>a:focus,.navbar.nav>li>a:hover{
	color:rgba(255,255,255,0.7);
	
}
.navbar .nav>.active>a, .navbar .nav> .active>a:hover,.navbar.nav>.active>a:focus{
	box-shadow:none;
	background:rgba(0,0,0,0.7);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
/** end**/
/** hero-unit-inner begin **/
.hero-unit-inner h1{
	font-size:48px;
	color:#fff;
	text-shadow:0 1px 0 rgba(0,0,0,0.3);
}
.hero-unit-inner h4{
	color:#cccccc;
	text-shadow:0 1px 0 rgba(0,0,0,0.3);
}
.hero-unit-inner a{
	color:#fff;
}
/**end**/
